<div class="container">
    <img width="1000px" class="image" src="../assets/img/2024-equinox-design-01.avif" alt="Descripción de la imagen">
    <h1 class="title">Chevrolet Military Program</h1>
    <p class="text">Chevrolet está tirando la casa por la ventana con la ola de lanzamientos que ha tenido este año en su gama de modelos eléctricos, el último de ellos es Equinox EV, el SUV que hace algunos meses dio la noticia sobre la transición que recibiría hacia la electrificación y que finalmente hoy da a conocer todos sus detalles.

        Antes de entrar en todos los detalles, hay que recordar que este modelo será fabricado en la planta de ensamble de GM en Ramos Arizpe, Coahuila, México, sobre la plataforma Ultium que también utilizan vehículos como Hummer EV, Silverado EV y que utilizará Blazer EV. <br>A nivel diseño, el SUV ofrece una apariencia deportiva, con líneas fluidas y un frente que llama la atención gracias a la barra de LED que recorre del punto A al punto B. Cuenta con rines de 19, 20 y 21 pulgadas dependiendo de la versión y calaveras diferentes para los modelos LT y RS.

        La configuración de carrocería bitono estará disponible con techo negro para la variante RS y en blanco para la versión LT.</p>
        
  </div>

