<div class="container">
    <img width="900px" class="image" src="../assets/img/2024-silverado-performance-01.avif" alt="Descripción de la imagen">
    <h1 class="title">2023 Silverado 1500 Crew RST</h1>
    <p class="text">Te inunda cierta potencia cuando cada decisión que tomas es la correcta. Este es el 
        caso con la Pickup Silverado, en la cual cuatro motores resistentes, que incluyen el TurboMax, 
        ofrece la capacidad en la que puedes confiar todos los días.</p>
        <h2>TurboMax</h2>
        <p>
            Estándar en la WT, Custom, Custom Trail Boss, LT, RST y LT Trail Boss.
            Con 310 caballos de fuerza y 430 lb-ft de torque máximo, el motor TurboMax ofrece una
             potencia impresionante y una durabilidad sin concesiones. Distribuye la demanda de torque
              a través del exclusivo turbocargador de voluta doble, cuya prioridad es lubricar y enfriar 
              para ayudarte a realizar los trabajos más duros con facilidad.</p>

            <p>La Silverado ZR2 se mueve como pez en el agua cuando no va por un camino establecido. Equipada con una lista interminable de características de desempeño y capacidad, la ZR2 tiene lo que se necesita para hacer domar cualquier camino. </p>
  </div>
