<div class="container">
    <img width="1000px" class="image" src="../assets/img/july-special offers teaser tile-2000x1000.avif" alt="Descripción de la imagen">
    <h1 class="title">2024 Equinox</h1>
    <p class="text">El programa militar de Chevrolet es una iniciativa que ofrece descuentos y beneficios a miembros del servicio militar de los Estados Unidos. Estos beneficios suelen incluir descuentos en la compra de vehículos Chevrolet para militares en servicio activo, reservistas, veteranos y sus familias. Los detalles exactos del programa pueden variar con el tiempo y según la ubicación, por lo que se recomienda verificar 
        la información más reciente directamente en el sitio web oficial de Chevrolet o comunicarse con un concesionario local de Chevrolet para obtener detalles específicos sobre el programa militar actualizado.</p>
        <p>Chevrolet tiene el honor de apoyar a aquellos que sirven a nuestro país proporcionando la oferta militar más inclusiva de cualquier compañía de automóviles. El personal militar elegible puede recibir ofertas especiales en nuestros vehículos†, servicios OnStar®† y paquetes SiriusXM®†.</p>
        
  </div>

